.foot {
  // background: #458b00;
  width: 100%;
  padding: 20px;
  color: white;
  a {
    margin-right: 20px;
    color: #498f02;
  }
}

hr {
  border-color: #498f02;
  margin-top: 60px;
  width: 90%;
 }