<div class="editor">
  <button (click)="toggleEditor()">EDIT</button>
  <div *ngIf="viewEditor">
    <div class="inputgroup">
      <label>Id:</label>
      <br>
      <input type="number" [(ngModel)]="movie.id">
    </div>
    <div class="inputgroup">
      <label>Title:</label>
      <br>
      <input type="text" [(ngModel)]="movie.title">
    </div>
    <div class="inputgroup">
      <label>Year:</label>
      <br>
      <input type="number" [(ngModel)]="movie.year">
    </div>
    <div class="inputgroup">
      <label>Duration:</label>
      <br>
      <input type="number" [(ngModel)]="movie.duration">
    </div>
    <button (click)="_dataService.writeMovies(movies)" (click)="toggleEditor()">SUBMIT</button>
  </div>
</div>
<div class="clearfix"></div>