<div class="adder">
  <button *ngIf="!viewAdder" (click)="toggleAdder()">ADD NEW</button>

  <div *ngIf="viewAdder" id="addForm">

    <div class="inputgroup">
      <label>Id:</label>
      <br>
      <input type="number" [(ngModel)]="newMovie.id">
    </div>  
    
    <div class="inputgroup">
      <label>Title:</label>
      <br>
      <input type="text" [(ngModel)]="newMovie.title">
    </div>  

    <div class="inputgroup">  
      <label>Year:</label>
      <br>
      <input type="number" [(ngModel)]="newMovie.year">
    </div>   

    <div class="inputgroup">   
      <label>Duration:</label>
      <br>
      <input type="number" [(ngModel)]="newMovie.duration">
    </div>  

    <button (click)="toggleAdder()" (click)="submitAdd()">SUBMIT</button>
  </div>
</div>
<div class="clearfix"></div>