<div class="container">
  <header>
    <h1 class="text-center">Realm status</h1>
  </header>
  <div class="realm-list text-center" *ngIf="!error && !loading">
    <table>
      <thead>
        <th>Realm status</th>
        <th>Realm name</th>
        <th>Realm population</th>
      </thead>
      <tbody>
        <tr *ngFor="let realm of realmList">
            <td>
              <span *ngIf="realm.status" class="online">Online</span>
              <span *ngIf="!realm.status" class="offline">Offline</span>
            </td>
          <td><strong>{{realm.name}}</strong></td>
          <td>{{realm.population}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h1 *ngIf="error">Server Error</h1>
  <p *ngIf="loading">Loading..</p>
</div>

