<div class="container">
  <header>
    <h1 class="text-center">Realm status</h1>
  </header>
  <div class="realm-list text-center" *ngIf="found==2">
    <table>
      <thead>
        <th>Realm name</th>
        <th>Realm status</th>
      </thead>
      <tbody>
        <tr *ngFor="let realm of realmList">
          <td><strong>{{realm.name}}</strong></td>
          <td>
            <span *ngIf="realm.status" class="online">Online</span>
            <span *ngIf="!realm.status" class="offline">Offline</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h1 *ngIf="found==3">Server Error</h1>
  <p *ngIf="found==1">Loading..</p>
</div>

