<div class="container">
  <button *ngIf="clicked" (click)="goBack()">BACK</button>
  <div class="searcher" *ngIf="!clicked">
    <header>
      <h1 class="text-center">Character Search</h1>
    </header>
    <div class="row">
      <div class="col-sm-12 text-center input-fields">
        <table>
          <tr>
            <td><label><strong>Select realm</strong></label></td>
            <td>
              <select *ngIf="fetched==1" [(ngModel)]="realm">
                <option *ngFor="let realm of realmNames" [value]="realm">{{realm}}</option>
              </select>
          </td>
          </tr>
          <tr>
            <td><label><strong>Character name</strong></label></td>
            <td><input type="text" [(ngModel)]="name"></td>
          </tr>
        </table>
        <button (click)="searchCharacter()">SEARCH</button>
      </div> 
    </div>
  </div>
  <app-character-info [clicked]="clicked" [realm]="realm" [name]="name">Searching..</app-character-info>
</div>

