<div class="container">
  <button *ngIf="clicked" (click)="goBack()">BACK</button>
  <button *ngIf="searched" (click)="goBackToSearch()">BACK</button>

  <header *ngIf = "!searched && !clicked">
      <h1 class="text-center">Guild Search</h1>
  </header>

  <div class="input-fields" *ngIf = "!searched && !clicked">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <label>Select realm</label>
      </div>
      <div class="col-sm-2">
        <select *ngIf="realmsFound==1" [(ngModel)]="realm">
          <option *ngFor="let realm of realmNames" [value]="realm">{{realm}}</option>
        </select>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <label>Name</label>
      </div>
      <div class="col-sm-2">
        <input type="text" [(ngModel)]="guildName">
      </div>
    </div>
    <button (click)="searchGuild(realm, guildName)">Search</button>    
  </div>

  <div *ngIf="found==2 && !clicked && searched">
    <div class="headers container text-center">
      <h1>Guild name: {{guild.name}}</h1>
      <h2>Level: {{guild.level}}</h2>
    </div>

    <div class="clearfix"></div>

    <h2>Members</h2>
    <table class="interactivetable">
      <tr *ngFor="let member of members | paginate: {itemsPerPage: 10, currentPage: p} " (click)="searchMember(member.character.realm, member.character.name)">
        <td>{{member.character.name}}</td>

        <td>
          <div *ngFor="let class of classes">
              <span *ngIf="class.id==member.character.class">{{class.name}}</span>
          </div>
        </td>

        <td>
          <div *ngFor="let race of races">
              <span *ngIf="race.id==member.character.race">{{race.name}}</span>
          </div>
        </td>
      </tr>
    </table>
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
  </div>
  <div *ngIf="found==1">Loading</div>
  <div *ngIf="found==3"></div>
  <app-character-info [clicked]="clicked"></app-character-info>
</div>
