<label>Select realm</label>
<select *ngIf="realmsFound==1" [(ngModel)]="realm">
  <option *ngFor="let realm of realmNames" [value]="realm">{{realm}}</option>
</select>
<br>
<label>Name</label>
<input type="text" [(ngModel)]="guildName">

<button (click)="searchGuild(realm, guildName)">Search</button>

<div *ngIf="fetched">
  <h1>{{guild.name}}</h1>
  <h2>Level: {{guild.level}}</h2>
  
  <h2>Members</h2>

  <table>
    <tr *ngFor="let member of members" (click)="searchMember(member.character.realm, member.character.name)">
      <td>{{member.character.name}}</td>

      <td>
        <div *ngFor="let class of classes.classes">
            <span *ngIf="class.id==member.character.class">{{class.name}}</span>
        </div>
      </td>

      <td>
        <div *ngFor="let race of races.races">
            <span *ngIf="race.id==member.character.race">{{race.name}}</span>
        </div>
      </td>
      <td><img src="https://render-us.worldofwarcraft.com/character/{{member.character.thumbnail}}" alt="thumbnail not found"></td>
    </tr>
  </table>
</div>

<app-character-info></app-character-info>