<div class="container">
  <header>
      <h1 class="text-center">Guild Search</h1>
  </header>

  <div class="input-fields">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <label>Select realm</label>
      </div>
      <div class="col-sm-2">
        <select *ngIf="realmsFound==1" [(ngModel)]="realm">
          <option *ngFor="let realm of realmNames" [value]="realm">{{realm}}</option>
        </select>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <label>Name</label>
      </div>
      <div class="col-sm-2">
        <input type="text" [(ngModel)]="guildName">
      </div>
    </div>
    <button [routerLink]="['/Guild', realm, guildName]">Search</button>    
  </div>
</div>
