ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

table{
  margin: 0 auto;
  border-collapse: collapse;
  tr{
    width: 50%;
    td{
      padding: 10px;
      box-shadow: 0px 0px 5px black;
    }
  }
}

.items, .info-stats, .pvp-info{
  background: rgba(119, 0, 255, 0.57);
  border-radius: 15px;
  padding: 20px;
  margin: 50px auto;
}

h2{
  margin-bottom: 15px;
  padding: 15px;
}

.bracket{
  margin: 20px auto;
}

.title{
  color: rgba(76, 0, 255, 0.90); ;
}

.error{
  color: red;
}

