.pagebody {
  background: black;
  height: 100%;
}

nav {
  background: rgba(7, 149, 192, 0.603);
  padding: 15px;
}

  nav ul {
    list-style: none;
  }

    nav ul li{
      display: inline;
      margin: 10px;
      background: rgba(7, 79, 233, 0.801);
      border-radius: 5px;
      font-family: sans-serif;
      font-size: 20px;
      padding: 5px;
      cursor: pointer;
    }

    nav ul li:hover{
      background: black;
    }

    nav ul li:hover a{
      color: white;
    }

    nav ul li a{
      text-decoration: none;
      color: black;
    }
