<nav class="navbar navbar-light">
  <!-- <a href="#" class="navbar-brand">World of Nachocraft</a> -->
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="nav-link" routerLink = "realm">REALM STATUS</a></li>
      <li><a class="nav-link" routerLink = "search-character">SEARCH CHARACTER</a></li>
      <li><a class="nav-link" routerLink = "pvp">TOP PVP MODE</a></li>
      <li><a class="nav-link" routerLink = "search-guild">SEARCH GUILD</a></li>
    </ul>
  </div>
</nav>

