
<div class="container">
  <div class="bars" (mouseleave)="hideNav()">
    <a (click)="toggleNav()"><i class="fa fa-bars fa-2x"></i></a>
    <nav *ngIf="viewNav">
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li><a (click)="hideNav()" class="nav-link" routerLink = "Realm">REALM STATUS</a></li>
            <li><a (click)="hideNav()" class="nav-link" routerLink = "Character">SEARCH CHARACTER</a></li>
            <li><a (click)="hideNav()" class="nav-link" routerLink = "Pvp/2v2">TOP PVP MODE</a></li>
            <li><a (click)="hideNav()" class="nav-link" routerLink = "Guild">SEARCH GUILD</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- <nav class="navbar navbar-light">
  <a href="#" class="navbar-brand">World of Nachocraft</a>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="nav-link" routerLink = "Realm">REALM STATUS</a></li>
      <li><a class="nav-link" routerLink = "Character">SEARCH CHARACTER</a></li>
      <li><a class="nav-link" routerLink = "Pvp/2v2">TOP PVP MODE</a></li>
      <li><a class="nav-link" routerLink = "Guild">SEARCH GUILD</a></li>
    </ul>
    <span class="fa fa-bars"></span>
  </div>
</nav> -->


