.list {
  float: left;
  width: 50%;
}

.list ul {
  list-style: none;
}

.list ul li {
  background: rgba(6, 185, 235, 0.897);
  width: 250px;
  margin: 15px auto;
  padding: 10px;
  color: black;
  cursor: pointer;
}


.list ul li:hover {
  background: rgb(0, 26, 143);
  color: white;
}

.details {
  float: left;
  width: 50%;
}
